services:
  client:
    env_file:
      - ./.env
    build:
      context: .
      dockerfile: Dockerfile
    container_name: client
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000

  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    container_name: postgres
    volumes:
      - pgdata:/var/lib/postgresql
    ports:
      - '5432:5432'

volumes:
  pgdata:
